/* 
light gray: rgba(206, 215, 206, 1);
purple navy: rgba(61, 86, 127, 1);
arsenic: rgba(63, 63, 68, 1);
mountbatten pink: rgba(161, 137, 142, 1);
umber(light brown): rgba(95, 81, 76, 1); */


/* --------------------global------------------- */
html {
    position: relative;
    min-height: 100%;
  }
body {
    background:linear-gradient(0deg,rgba(61, 86, 127, .2),rgba(61, 86, 127, .2)),url("../images/background-bryan-goff-360297-unsplash.jpg");
    background-size: cover;
    color: rgba(206, 215, 206, 1);
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 120px; /* Margin bottom by footer height */

}
h3 {
    font-size: 1.5em;
}

/* --------------------header------------------- */
header h1 {
    font-style: italic;
    /* font-family: 'Orbitron', sans-serif; */
    font-size: 3.5em;
}

/* --------------------footer------------------- */
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: 100px; Set the fixed height of the footer here */
    /* line-height: 100px; Vertically center the text there  */
    background: rgba(63, 63, 68, .3)
  }
footer p:first-child {
    margin-top: 1em;
}

/* --------------------main------------------- */
#rules {
    background: rgba(95, 81, 76, .6)
}
#rules2 li {
    margin-bottom: 1em;
}
.card  {
    background: none;
    border: none;
}
#rules p {
    text-align: center;
}
.btn-primary {
    color: rgba(206, 215, 206, 1);
    background: rgba(61, 86, 127, .4);
    border-color: rgba(61, 86, 127, 1);
    font-size: 1.5em;
}
.btn-primary:hover {
    background: rgba(61, 86, 127, 1);
    border-color: rgba(61, 86, 127, 1);
}
#totalTarget, #totalScore {
    background: rgba(161, 137, 142, .5);
    
}
#targetNumber, #score {
    font-size: 3em;
}
#winCount, #lossCount {
    font-size: 2em;
}
#icons button {
    margin: .5em;
    padding: .5em;
    background: none;
    border: 3px solid rgba(206, 215, 206, .5);
    border-radius: 6px;
}
#scoreboard {
    background: rgba(61, 86, 127, .5);
}
#scoreboard h3, #scoreboard p {
    /* display: inline; */
}
#scoreboard li {
    list-style: none;
    display: inline-block;
}
.active img {
    border: 4px solid rgba(161, 137, 142, 1);
    border-radius: 50%;
}
#resetButtonSection {
    background: rgba(161, 137, 142, .5);
}
#resetButton {
    background: rgba(61, 86, 127, 1)
}
#resetButton:hover {
    background: rgba(61, 86, 127, .5);
    border-color: rgba(61, 86, 127, 1);
}
.currentPlanet {
    position:absolute;
    bottom: 1em;
    right: 33.33%;
}
.nextPlanet {
    position:absolute;
    top: 10em;
    right: 33.33%;
}
#rocket {
    position:absolute;
    right: 33.33%;
    /* bottom: 1em; */
    z-index: 1;
}
.moveRocketPerson {
    right: 0;
    margin-top: 50%;
}
